body{
  background-image: linear-gradient(120deg, #8EC5FC 0%, #E0C3FC 100%);
  background-color: cover;
}

h1{
  text-align: center;
  margin-top: 2.0%;
  font-family: 'Alkatra', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Lobster', cursive;
}
label{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
  max-width: 50vw;
  margin-top: 5vh;
  padding: 10%;
  background-color: rgba(224, 170, 231, 0.497);
}

form{
  max-width: 100%;
  height: 100%;
}
.error-message {

  color: red;
  font-size: 15px;
 
}
.a{
   
  display: table;      }
p{ 
  display: table-row;  

}

label{
   display: table-cell;
}

input { 
  display: table-cell;
  max-width: 10.5vw;
  border-color: #c38dbe;
  
 }
 
 #btn{
  background-color:rgb(186, 84, 186);
  border-radius: 8px;
  color: rgb(2, 2, 37);
 }
 #btn:focus{
  background-color:rgb(5, 86, 31);
 }

 /* for responsiveness for h1 */
 @media screen  and (max-width:500px) {
  h1{
    font-size: 100%;
  }
}